.MuiTabs-flexContainer {
  justify-content: space-around;
  background-color: white;
  align-items: center;
  margin-top: 0.5rem;

}

.MuiTabs-flexContainer > button {
  font-family: yekanBold !important;
  font-size: 0.75rem;
  color: gray;
}

.MuiTabPanel-root {
  background-color: white;

}
